%html
  %head
    %title twtester
    %link{:rel => "alternate", :href => "/rss.xml", :title => "Recent Tweets", :type => "application/rss+xml"}
    %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css",
        :media => "screen"}
    - jq = "http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"
    %script{:type => "text/javascript", :src => jq}
    %script{:type => "text/javascript", :src => "/twtester.js"}
  %body
    = partial_haml :header
    #container
      #main
        %form{:method => 'post', :action => '/update'}
          %label{:for => :tweet} What's happening?
          %br
          %textarea#tweet{:name => 'status', :rows => 2, :cols => 40}
          - unless user
            %br
            %input#salt{:type => :checkbox, :name => :salt}
              %label{:for => :salt} Shapeshift
          %input#replytoid{:type => :hidden, :name => :in_reply_to_status_id}
          %input#replyto{:type => :hidden, :name => :in_reply_to}
          %br
          %input{:type => 'submit', :value => 'Tweet'}
        #refresh
        #since_id= timeline.empty? ? '0' : timeline.last['id']
        #num_of_tw= timeline.size
        - timeline.reverse.each do |tweet|
          - user = tweet['user']
          - screen_name = h(user['screen_name'])
          %p.box
            %img{:src => user['profile_image_url'], :align => :left}
            %span.screen_name= screen_name
            = h tweet['text']
            - tid = tweet['id']
            %br
            %span.twstat
              %a{:href => "/#{screen_name}/status/#{tid}"}= timestr tweet['created_at']
              - if rid = tweet['in_reply_to_status_id']
                - ruser = tweet['in_reply_to']
                %a{:href => "/#{ruser}/status/#{rid}"}== in reply to #{ruser}
            %a.reply{:href => "?status=@#{screen_name}&in_reply_to_status_id=#{tid}&in_reply_to=#{screen_name}"} Reply
      #sidebar
        %img{:src => "/feedicon.png"}
        %a{:href => "/rss.xml", :rel => "alternate", :type => "application/rss+xml"} RSS feed
      = partial_haml :footer
