%html
  %head
    %title== #{tid} - twtester
  %body
    = partial_haml :header
    - user = tweet['user']
    - screen_name = h(user['screen_name'])
    %img{:src => user['profile_image_url']}
    = screen_name
    = h tweet['text']
    %br
    %a{:href => "/#{screen_name}/status/#{tweet['id']}"}= timestr tweet['created_at']
    = partial_haml :footer
