%html
  %head
    %title== #{tid} - twtester
  %body
    = partial_haml :header
    - user = tweet['user']
    - screen_name = h(user['screen_name'])
    %img{:src => user['profile_image_url']}
    = screen_name
    = h tweet['text']
    %br
    %a{:href => "/#{screen_name}/status/#{tweet['id']}"}= timestr tweet['created_at']
    - if rid = tweet['in_reply_to_status_id']
      - ruser = tweet['in_reply_to']
      %a{:href => "/#{ruser}/status/#{rid}"}== in reply to #{ruser}
    = partial_haml :footer
